includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
        - packages/php-sdk/src
    excludePaths:
        - packages/php-sdk/vendor
